$colors: (
  primary: (
    100: hsl(231, 69%, 60%),
    500: hsl(229, 31%, 21%),
    nav: rgba(37, 43, 70, 90%),
  ),
  neutrals: (
    light: hsl(229, 8%, 90%),
    100: hsl(229, 8%, 60%),
    400: hsl(240, 4%, 38%),
  ),
  accent: (
    500: hsl(0, 94%, 66%),
  ),
);
