$colors: (
  primary: (
    100: hsl(0, 0%, 0%),
    200: hsl(0, 0%, 0%),
    300: hsl(0, 0%, 0%),
    400: hsl(0, 0%, 0%),
    500: hsl(0, 0%, 0%),
  ),
  neutrals: (
    100: hsl(0, 0%, 0%),
    200: hsl(0, 0%, 0%),
    300: hsl(0, 0%, 0%),
    400: hsl(0, 0%, 0%),
    500: hsl(0, 0%, 0%),
  ),
  accent: (
    100: hsl(0, 0%, 0%),
    200: hsl(0, 0%, 0%),
    300: hsl(0, 0%, 0%),
    400: hsl(0, 0%, 0%),
    500: hsl(0, 0%, 0%),
  ),
);
