@use "src/scss/abstracts/colors" as *;
@use "src/scss/abstracts/mixins" as *;

.hero h1 {
  @include mq {
    font-size: 3vw;
    text-align: left;
    margin-top: 0;
  }
  @include mq(90em) {
    font-size: 48px;
  }
}

.hero-img-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  @include mq {
    width: 60%;
    min-width: 520px;
  }
}
.hero-img {
  margin: auto;
}
.feature-img {
  padding: 3em;
  width: 90%;
}
.decorative-block {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 75%;
  width: 75%;

  background-color: var(--clr-primary-100);
  z-index: -1;
  border-radius: 200px 0 0 200px;
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include mq {
    justify-content: left;
    button {
      margin: 0;
      margin-right: 1;
    }
  }
}

// Media Queries
.hero {
  @include mq {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    justify-content: space-between;
    padding-left: 3em;
    .heading-wrapper {
      align-self: center;
      margin-left: auto;
      width: 40%;
      max-width: 530px;

      p {
        max-width: 50vw;
      }
      button {
        font-size: 0.8rem;
      }
    }
  }
}
